<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="liang.lollipop.lcountdown">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="liang.lollipop.lcountdown.countdownService"
        android:label="service permission"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN"/> -->
                <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.CountdownWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_widget_provider_info" />
        </receiver>

        <receiver android:name=".widget.QuickTimingWidget"
            android:label="@string/quick_timing">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quick_timing_widget_provider_info" />
        </receiver>

        <receiver android:name=".widget.TimingListWidget"
            android:label="@string/title_activity_timing_list">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/timing_list_widget_provider_info" />
        </receiver>

        <service
            android:name=".service.CountdownService"
            android:enabled="true"
            android:exported="true"
            android:permission="liang.lollipop.lcountdown.countdownService"
            android:process="liang.lollipop.countdownService">
            <intent-filter>
                <action android:name="com.zihao.remoteservice.RemoteService" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.WidgetListActivity"
            android:label="@string/title_activity_widget_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.CountdownDreamService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DREAM_SERVICE"
            android:process="liang.lollipop.lcountdown.dream">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Point to additional information for this dream (optional) -->
            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/dream_setting" />
        </service>
        <service
            android:name=".service.NotificationService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.QuickTimingActivity"
            android:theme="@style/AppTheme.Transparent"
            android:launchMode="singleInstance">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TimingListActivity"
            android:label="@string/title_activity_timing_list"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>