<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="liang.lollipop.lcountdown">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="liang.lollipop.lcountdown.countdownService"
        android:label="service permission"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.AboutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WidgetAdjustmentActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustNothing">

        </activity>
        <activity
            android:name=".activity.TimerListActivity"
            android:label="@string/app_name">
        </activity>
        <receiver android:name=".widget.CountdownWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_widget_provider_info" />
        </receiver>

        <receiver android:name=".widget.CountdownWidgetWrapper1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_widget_provider_info" />
        </receiver>

        <receiver android:name=".widget.CountdownWidgetWrapper2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_widget_provider_info" />
        </receiver>

        <receiver android:name=".widget.CountdownWidgetWrapper3">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_widget_provider_info" />
        </receiver>

        <receiver android:name=".widget.CountdownWidgetWrapper4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_widget_provider_info" />
        </receiver>

        <receiver android:name=".widget.CountdownWidgetWrapper5">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_widget_provider_info" />
        </receiver>

        <receiver android:name=".widget.CountdownWidgetWrapper6">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_widget_provider_info" />
        </receiver>

        <receiver android:name=".widget.CountdownWidgetWrapper7">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_widget_provider_info" />
        </receiver>

        <receiver android:name=".widget.CountdownWidgetWrapper8">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_widget_provider_info" />
        </receiver>

        <receiver android:name=".widget.CountdownWidgetWrapper9">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_widget_provider_info" />
        </receiver>
    </application>

</manifest>